{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    {% block title %}
        完善个人信息
    {% endblock title %}
</head>
<body>
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <br>
                    <p>{{ user.username }}</p>
                    <br>
                    <!-- 如果有头像，则显示头像 -->
                    {% if profile.avatar %}
                        <img src="{{ profile.avatar.url }}" style="max-width: 50%; border-radius: 5%" class="col-4">
                    {% else %}
                        <p>暂无头像</p>
                    {% endif %}
                    <!-- 如果要上传文件的表单，必须要写enctype="multipart/form-data" -->
                    <form action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="avatar">上传头像</label>
                            <input type="file" class="form-control-file" name="avatar" id="avatar">
                        </div>
                        <div class="form-group">
                            <label for="phone">手机</label>
                            <input type="text" class="form-control" id="phone" name="phone" value="{{ profile.phone }}">
                        </div>
                        <div class="form-group">
                            <label for="bio">简介</label>
                            <textarea type="text" class="form-control" id="bio" name="bio"  rows="12">{{ profile.bio }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock content %}
</body>
</html>
