{% extends "base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    {% block title %}
         关于我
    {% endblock title %}
</head>
<body>
    {% block content %}
        <div class="container">
            <div class="row mt-2">
                <div class="col-lg-12">
                    <!-- <div class="card mb-3">
                        <div class="row no-gutters justify-content-center">
                          <div class="col-lg-4 mt-2 mb-2" style="max-width: 120px">
                           <img src="/media/Avatar.jpg" class="card-img" alt="...">
                          </div>
                          <div class="col-lg-8">
                              <div class="card-body">
                                <h5 class="card-title">刘世路</h5>
                                <p class="card-text text-muted">产品经理</p>
                                <p class="card-text text-muted">做一款好的产品，写一本好的小说</p>
                              </div>
                          </div>
                        </div>
                    </div> -->
                     <!-- 我皮网 -->
                    <div class="card mb-2">
{#                      <div class="card-header">#}
{#                        个人简介#}
{#                      </div>#}
                      <div class="card-body">
                        <!-- 个人信息 -->
                        <dl class="row mt-2">
                      <dt class="col-sm-3" style="max-width: 180px"><img src="/media/Avatar.jpg" class="card-img" alt="..."></dt>
                      <dd class="col-sm-9">
                        <h5 class="card-title">刘世路</h5>
                        <p class="card-text text-muted">产品经理</p>
                        <p class="card-text text-muted">做一款好的产品，写一本好的小说</p>
                        <p class="card-text text-muted">2019年12月13日，我皮网上线了！</p>
                        <blockquote class="blockquote text-right">
                          <p class="mb-0">做产品就像拍电影，好的产品可以打动人心。</p>
                          <footer class="blockquote-footer">出自 <cite title="Source Title">《我皮网》</cite></footer>
                        </blockquote>
                      </dd>
                    </dl>
                      </div>
                    </div>

                    <!-- 我皮网 -->
                    <div class="card mb-2">
                      <div class="card-header">
                        关于我皮网
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">🎙️：为什么自己开发一个博客网站？</h5>
                        <p class="card-text text-muted">
                            作为产品经理，我想绝大部分都被程序员怼过，很多时候，被怼的产品经理们根本就无法反驳，因为他们对这个功能如何开发实现根本就一无所知，
                            而仅仅是从用户体验角度提出了一些需求，但是，如果从综合的开发投入及产出收益的角度考虑，可能这个需求根本就不合理！
                            <br>
                            因此，为了实现做一款好产品的目标，也是出于个人的兴趣爱好，大概从2017年开始，我就着手学习python，一直到2019年总算是入门了。
                            作为python的练手项目，写一个个人的博客项目特别合适。当自己写的博客网站正式上线的时候，那种全面掌控一个产品的成就感， 真的特别好，
                            因为这里的每一行代码，每一个功能，都是自己写的。
                        </p>
                        <h5 class="card-title">🎙️：我皮网未来会是什么样子？</h5>
                        <p class="card-text text-muted">
                            目前，我皮网主要是我的个人博客，我会在这里分享自己所学、所思、所想。但是，随着我个人编程知识的增长，我会扩展我皮网的功能，我希望，
                            我皮网未来能够成为一个在线教育的社区，在这里，喜欢学习的朋友，能够真正的学到知识。
                        </p>
                      </div>
                    </div>

                    <!-- 关于2020 -->
                    <div class="card mb-2">
                      <div class="card-header">
                        关于2020
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">2020年的目标</h5>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                          <label class="form-check-label" for="defaultCheck2">
                             减肥至75kg，坚持跑步和运动🏊
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" disabled>
                          <label class="form-check-label" for="defaultCheck3">
                             考取驾照🚗
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" disabled>
                          <label class="form-check-label" for="defaultCheck3">
                             换一份心仪的工作💼
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" disabled>
                          <label class="form-check-label" for="defaultCheck3">
                             坚持更新我皮网，增加新内容、新功能
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" disabled>
                          <label class="form-check-label" for="defaultCheck3">
                             读12本经济学的书籍📚
                          </label>
                        </div>
                      </div>
                    </div>

                    <!-- 更新日志 -->
                    <div class="card mb-2">
                      <div class="card-header">
                        更新日志
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">更新日志</h5>
                        <h6>2020年2月1日<span class="badge badge-danger">New</span></h6>
                        <ul>
                            <li><p class="card-text text-muted">新增博客文章图片查看器viewer.js，可以方便的查看和放大文章中的图片</p></li>
                        </ul>
                        <h6>2020年1月31日</h6>
                        <ul>
                            <li><p class="card-text text-muted">文章标题图存储到阿里云OSS</p></li>
                        </ul>
                        <h6>2020年1月29日</h6>
                        <ul>
                            <li><p class="card-text text-muted">正式环境的数据库切换为MySQL</p></li>
                        </ul>
                        <h6>2020年1月5日</h6>
                        <ul>
                            <li><p class="card-text text-muted">嵌入个人微博秀</p></li>
                        </ul>
                        <h6>2019年12月13日</h6>
                        <ul>
                            <li><p class="card-text text-muted">我皮网上线</p></li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
</body>
</html>